<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Sacramento&display=swap');
      
      ul > li > a {
        text-decoration: none;
        font-family:  sans-serif;
      }
      .upload {
        margin-left: 15px;
        background-color: brown;
        color: white;
        padding: 10px;
      }
    </style>
    <header class="subheader">
      <ul>
        <li style="text-decoration: underline"><a href=""></a>Home</li>
      </ul>
      <ul>
        <li><a href=""></a>Shop</li>
      </ul>
      <ul>
        <li><a href=""></a>Track Order</li>
      </ul>
      <ul>
        <li><a href=""></a>Need Help ?</li>
      </ul>
      <ul>
        <li><a href=""></a>About us</li>
      </ul>
      <ul>
        <li><a href=""></a>Wishlist</li>
      </ul>
      <ul>
        <li><a href=""></a>Revolve</li>
      </ul>
      <ul>
        <li><a href=""></a>INR</li>
      </ul>
      <ul>
        <li><a class="upload" href="/upload">Upload</a></li>
      </ul>
    </header>
  </body>
</html>
