<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Sacramento&display=swap");

      ul > li > a {
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
      }
      ul > li {
        font-weight: bold;
        font-family: sans-serif;
      }
      .cart {
        width: 20px;
        height: 20px;
      }
      .cart-counter {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #ddd;
        text-align: center;
        border-radius: 50%;
        margin-left: -27%;
      }
    </style>
    <header class="subheader">`
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
      <ul>
        <li><a href=""></a>Shop</li>
      </ul>
      <ul>
        <li><a href=""></a>Track Order</li>
      </ul>
      <ul>
        <li><a href=""></a>Need Help ?</li>
      </ul>
      <ul>
        <li><a href=""></a>About us</li>
      </ul>
      <ul>
        <li><a href=""></a>Wishlist</li>
      </ul>
      <ul>
        <li><a href=""></a>Revolve</li>
      </ul>
      <ul>
        <li><a href=""></a>INR</li>
      </ul>
      <ul>
        <li>
          <a href="/cart">
            <img src="/icons/cart.svg" alt="" class="cart" />
          </a>
          <span class="cart-counter"  id="cart-counter"></span>
        </li>
      </ul>
    </header>
  </body>
  <script>
    let cartcount=localStorage.getItem('cartData');
    let count =JSON.parse(cartcount).length;
   let cart_counter= document.getElementById('cart-counter')
   console.log('type of ',typeof count);
if(localStorage.getItem('cartData')===null)
{
  cart_counter.style.display="none";
}else{
  cart_counter.style.display="inline-block";
  cart_counter.innerHTML=count;
}

    document.getElementById('cart-counter').innerHTML=count;
   // console.log(count.length);

  </script>
</html>
