* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cart-section {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  background-color: rgb(180, 219, 255);
  justify-content: center;
  align-items: center;
}

.cart-containers {
background-color: white;
  height: auto;
  min-height: 1000px;
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

#heading {
  margin: 20px;
}

.cartItems {
  width: 80%;
  
  display: flex;
  margin: 5px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;

}

.cartItems:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.info {
position: relative;
left: 2%;
  width: auto;
  height: 70px;
  position: relative;
  top: 150px;
  right:50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.producttitle {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: x-large;

}

.productprice {
  position: relative;
 
}
.delete-btn{
  background-color: red;
  padding: 10px;
  border: none;
  color:white;cursor: pointer;
  margin-left: 50px;
  position: relative;
  left: 15%;
  bottom: 50px;

}

/* .productprice {
    font-family: sans-serif;
    margin-top: 10px;
    position: absolute;
    top: 32%;
    left: 36%; 
  }*/
.productimage {
  position: relative;
  bottom: 42px;
  height: 40vh;
  width: auto;
  margin-right: 10px;
  margin-left: 3%;
  margin-top: 8%;
}


/* .Shopping-Cart {
    background-color: white;
    width: 75%;
    min-height: 50%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .heading {
    font-family: sans-serif;
    margin: 20x;
    margin-left: 30px;
    margin-top: 20px;
  }
  .headingline {
    width: 95%;
    margin: auto;
    border: lightgray 1px solid;
  }
  .cart-items-container {
    width: 95%;
    min-height: 550px;
    height: auto;
    margin: auto;
    margin-top: 1%;
  }
  
  .cartitems {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .productimage {
    height: 90%;
    width: auto;
    margin-right: 10px;
    margin-left: 3%;
    margin-top: 3%;
  }
 
  .buttons {
    min-width: 250px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40%;
    left: 56%;
  }
  .buynow {
    width: 100px;
  }
  .btn {
    cursor: pointer;
    font-weight: bold;
  }
  .bottomline {
    margin-bottom: 20px;
  }
  .total {
    font-family: sans-serif;
  }
  .subtotalinfo {
    margin-bottom: 20px;
    position: relative;
    left: 65%;
  }
   */