* {
  margin: 0;
  padding: 0;
}

/* fontlinks  */

@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

.products {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product_container {
  height: auto;
  width: 330px;
  border-radius: 5px;
  margin-left: 4%;
  margin-top: 8%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-bottom: 10%;
}
.productimage {
  height: auto;
  width: 300px;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
}
.desc {
  height: auto;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: brown;
  font-family: "Alegreya", serif;
}
.producttitle {
  font-weight: 400;
  margin-bottom: 2%;
  margin-top: 5%;
}
.productprice {
}
.product-title-link {
  text-decoration: none;
  color: inherit;
}
