<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <div class="container">
        <a href="/Upload"><button>Upload</button></a>
        <a href="/Edit"><button>Edit</button></a>
        <a href="/Delete"><button>Delete</button></a>
        <a href="/ClearAll"><button>ClearAll</button></a>
    </div>
</body>
</html>