<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Login</title>
        <style>
      .container {
        width: 100vw;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .btn {
        width: 300px;
        background-color: brown;
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        border: none;
        padding: 20px;
        cursor: pointer;
      }
    </style>
    </head>
    <body>
        <!-- TODO before that add user name password entry -->
        <!-- TODO add Upload, Edit ,Delete Features for those operations.  -->
        <div class="container">
            <a href="/adminlogin" class="login"><button class="loginbtn btn">Login</button></a>
            <a href="/adminregister" class="register"><button class="registerbtn btn">Register</button></a>
        </div>
    </body>
</html>
