<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/cart.css" />

    <title>Cart</title>
  </head>
  <body>
    <section id="cart-section" class="cart-section">
<div class="cart-containers" id="cart-containers">
  <hr>
  <h1 id="heading">Shopping Cart</h1>
  <button class="delete-btn" id="delete-cart-items">Delete All Cart Items</button>
    </section> 
    <hr class="total-hr">
    <h3 id="cart-amount" class="cart-amount">Total </h3>
  </body>
  <script>
   // DOM Nodes
   const cartcontainers=document.getElementById('cart-containers'); 
    let cartdata = localStorage.getItem("cartData");
    const deletecartBtn=document.getElementById('delete-cart-items');
    const cartAmount=document.getElementById('cart-amount');
    let cartTotal=0;
    let cartItemPrices=[];

    deletecartBtn.addEventListener('click',()=>{
  let isRemove= confirm("are you sure you want to remove all items from cart ?");
  if(isRemove)
  {
    localStorage.removeItem('cartData')
  }

    })

    getData(cartdata);
    async function getData(data) {
      try {
        const response = await fetch(
          window.location.origin+"/cartData?cartitems=" + data);
        const cartData = await response.text();
        let fromServer = JSON.parse(cartData);
        fromServer.forEach((data) => {
          let ProductName = data.ProductName;
          let ProductPrice = data.ProductPrice;
          let ProductImage = data.Paths[0].path;
          let dbId=data._id
         cartItemPrices.push(parseInt(data.ProductPrice));
        cartTotal= cartItemPrices.reduce((a, b) => a + b, 0)


          console.log("data ",dbId);
          CreateCartItems(ProductName, ProductPrice, ProductImage,dbId);
        });
       cartAmount.innerText="Total: Rs. "+addCommas(cartTotal)
      } catch (error) {}
     
    }
   

    function CreateCartItems(ProductName, ProductPrice, ImageUrl,DbId) {
      
      const cartItem=document.createElement('div');
      cartItem.className="cartItems"; //setting class
      const productimage=document.createElement('img');
      productimage.className='productimage';//setting class
      productimage.src=ImageUrl; // adding image url
      const infoDiv=document.createElement('div');// div element created
      infoDiv.className="info";
      const producttitle=document.createElement('a'); //product title created
      producttitle.className='producttitle';
      producttitle.innerText=ProductName;
      producttitle.href="productview?id="+DbId
      const productprice=document.createElement('h3')
      productprice.className="productprice";
      productprice.innerText="Rs. "+addCommas(ProductPrice);



      
      cartItem.appendChild(productimage);
      cartItem.appendChild(infoDiv);
      infoDiv.appendChild(producttitle)
      infoDiv.appendChild(productprice)
      cartcontainers.appendChild(cartItem)
    }
    function addCommas(x) {
    x = x.toString();
    var pattern = /(-?\d+)(\d{3})/;
    while (pattern.test(x))
        x = x.replace(pattern, "$1,$2");
    return x;
}
  </script>
</html>
